export EDITOR={{.editor}}

# Path to your oh-my-zsh installation.
ZSH=~/.oh-my-zsh/

if [ -f $ZSH ]; then
    source $ZSH/oh-my-zsh.sh
fi

ZSH_THEME="zhann"
plugins=(git-extras zsh-syntax-highlighting)

CASE_SENSITIVE="false" # case-insensitive auto-completion 

# Uncomment the following line to disable bi-weekly auto-update checks.
DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

export PATH=$HOME/bin:/usr/local/bin:$PATH:$HOME/.local/bin
# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/dsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
PATH=$PATH:$HOME/.rvm/bin # Add RVM to PATH for scripting

HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000

zstyle :compinstall filename '/home/jjin/.zshrc'

autoload -Uz compinit
compinit

autoload -U promptinit
promptinit

autoload -U colors
colors

if [ -f $HOME/.aliases ]; then
    source $HOME/.aliases
fi

unset GREP_OPTIONS

export DISABLE_AUTO_TITLE=true
export MAILDIR=~/mail

if [ -f ~/.zshrc_local ]; then
    source ~/.zshrc_local
fi

export PYENV_VIRTUALENV_DISABLE_PROMPT=1 
if which pyenv > /dev/null; then eval "$(pyenv init -)"; fi
if which pyenv-virtualenv-init > /dev/null; then eval "$(pyenv virtualenv-init -)"; fi

export SSH_AUTH_SCOK="$XDG_RUNTIME_DIR/ssh-agent.socket"

vterm_printf(){
    if [ -n "$TMUX" ] && ([ "${TERM%%-*}" = "tmux" ] || [ "${TERM%%-*}" = "screen" ] ); then
        # Tell tmux to pass the escape sequences through
        printf "\ePtmux;\e\e]%s\007\e\\" "$1"
    elif [ "${TERM%%-*}" = "screen" ]; then
        # GNU screen (screen, screen-256color, screen-256color-bce)
        printf "\eP\e]%s\007\e\\" "$1"
    else
        printf "\e]%s\e\\" "$1"
    fi
}

vterm_prompt_end() {
    vterm_printf "51;A$(whoami)@$(hostname):$(pwd)";
}
setopt PROMPT_SUBST
PROMPT=$PROMPT'%{$(vterm_prompt_end)%}'

eval "$(starship init zsh)"
eval "$(direnv hook zsh)"

export PATH="$(go env GOPATH)/bin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"