[user]
	name           = Jonathan Jin
	email          = {{.email}}

[core]
	editor         = {{.editor}}
	autocrlf       = false
	whitespace     = trailing-space,space-before-tab
	excludesfile   = ~/.gitignore_global
    filemode       = false

[color]
	ui             = auto

[alias]
	unstage        = reset HEAD --
	last           = log -1 HEAD
	co             = checkout
	cop            = checkout @{-1}
	st             = status
	lg             = log --graph --color --all --decorate
	lgo            = log --graph --color --all --pretty=oneline-author
	ci             = commit
	a              = add
	d              = diff

[push]
	default        = current
	rebase         = ff-only

[pretty]
	oneline-author = "%C(auto)%h%d %Cblue%an %Creset%s"

[includeIf "gitdir:workspace/"]
	path = ~/.gitconfig_work

[commit]
	gpgsign = true


[gpg]
	program = gpg

# Useful for github.com/magit/forge
[github]
	user = jinnovation
