; -*- mode: gitconfig; -*-
[user]
	name = Jonathan Jin
	email = {{ .workemail }}

[github "ghe.spotify.net/api/v3"]
	user = jjin

; The following necessary for `code-review` Emacs package
; (https://github.com/wandersoncferreira/code-review)
[github "ghe.spotify.net"]
	user = jjin
[github "ghe.spotify.net/api"]
	user = jjin
[github "ghe.spotify.net/api/graphql"]
	user = jjin
[github "ghe.spotify.net/api/v3"]
	user = jjin

[github]
	host = ghe.spotify.net/api/v3
