{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "d12frosted/emacs-plus"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"

brew "bitwarden-cli"
brew "xz"
brew "python@3.9"
brew "glib"
brew "emacs", link: false
brew "cask"
brew "chezmoi"
brew "cmake"
brew "direnv"
brew "gdk-pixbuf"
brew "git"
brew "pinentry"
brew "gnupg"
brew "gobject-introspection"
brew "golangci-lint"
brew "gopls"
brew "harfbuzz"
brew "pango"
brew "graphviz"
brew "grep"
brew "grpcurl"
brew "helm"
brew "imagemagick"
brew "isync"
brew "jenv"
brew "jq"
brew "kind"
brew "kubectx"
brew "kustomize"
brew "libgccjit"
brew "libvterm"
brew "libxaw"
brew "make"
brew "minikube"
brew "mu"
brew "pinentry-mac"
brew "poetry"
brew "pre-commit"
brew "prometheus"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ripgrep"
brew "starship"
brew "tfenv"
brew "w3m"
brew "yq"
brew "zlib"
brew "d12frosted/emacs-plus/emacs-plus@27", args: ["with-no-titlebar", "with-spacemacs-icon"]
brew "hashicorp/tap/terraform-ls"

cask "basictex"
cask "bitwarden"
cask "discord"
cask "docker"
cask "flux"
cask "font-iosevka"
cask "font-iosevka-nerd-font"
cask "google-cloud-sdk"
cask "logitech-g-hub"
cask "logitech-options"
cask "nordvpn"
cask "rectangle"
cask "slack"
cask "smcfancontrol"
cask "spotify"
cask "steam"
cask "telegram"
cask "todoist"
cask "vivaldi"
EOF
{{ end -}}
