[Unit]
Description=Randomly change the wallpaper

[Service]
Type=simple
Environment="BGDIR=/home/jonathan/Dropbox/Images/Wallpapers" DISPLAY=:0
ExecStart=/usr/bin/feh --randomize --bg-fill --no-fehbg $BGDIR