[Unit]
Description=Adjust the color temperature of your screen according to your surroundings

[Service]
ExecStart=/usr/bin/redshift -v
Environment=DISPLAY=:0

[Install]
WantedBy=default.target